extends layouts/base.pug
block content
  - $parcel = $checkout['parcel']
  - $shippers = $checkout['shippers']
  - $delivery = $checkout['delivery']
  - $custom = $checkout['custom']
  - $sch_pickup = $checkout['sch_pickup']
  mixin cleanString($val, $section)
    =ucwords(str_replace('_', " ", $section." ".$val));

  .row
    .one.columns &nbsp;
    .ten.columns
      table.u-full-width
        caption
          h2 Checkout Summary
        tr
          td Name
          td=ucwords($checkout['title']." ".$checkout['firstname']." ".$checkout['lastname'])
        tr
          td Email
          td #{$checkout['email']}
        tr
          td(colspan="2")
            h4(style="text-align: center") Parcel Info
        each val, title in $parcel
          tr
            td
              +cleanString(title, "Parcel")
            td= val
        tr
          td(colspan="2")
            h4(style="text-align: center") Shipper's Info
        each val, title in $shippers
          tr
            td
              +cleanString(title, "Shipper's")
            td= val
        tr
          td(colspan="2")
            h4(style="text-align: center") Receiver's Info
        each val, title in $delivery
          tr
            td
              +cleanString(title, "Receiver's")}
            td= val
        tr
          td(colspan="2")
            h4(style="text-align: center") Customs Info
        each val, title in $custom
          tr
            td
              +cleanString(title, "Custom's")}
            td= val
        tr
          td(colspan="2")
            h4(style="text-align: center") Pickup Info
        each val, title in $sch_pickup
          tr
            td
              +cleanString(title, "Pickup's")}
            td= val
        tr
          td(colspan="2")
            h4(style="text-align: center") Email Sender and Receiver
        tr
          td Email From
          td #{$checkout['mail_from']}
        tr
          td Email To
          td #{$checkout['mail_to']}
        tr
          td(colspan='2')
            form(action="/dhl/pages/mail", method="POST")
              - $payload = serialize($checkout)
              input(type="hidden", value="#{$payload}", name="checkout")
              button#finalSubmit.button.button-primary.u-full-width(style="display: none") Submit
            #paypal-button-container.u-full-width
block scripts
  script(src="https://www.paypalobjects.com/api/checkout.js")


  script.


      // Render the PayPal button

      paypal.Button.render({

          // Set your environment

          env: 'sandbox', // sandbox | production

          // Specify the style of the button

          style: {
              label: 'checkout', // checkout || credit
              size:  'small',    // tiny | small | medium
              shape: 'rect',     // pill | rect
              color: 'silver'      // gold | blue | silver
          },

          // PayPal Client IDs - replace with your own
          // Create a PayPal app: https://developer.paypal.com/developer/applications/create

          client: {
              sandbox:    'AUIVMVEhAOL7uvAFJFfWWUg2VMexoDwKRCrQxLFUdEFMBKngYS-8uGUg69imrspVVCQzxId9V9A6e8ki',
              production: 'AajeRlxbw2HxdY4luCl0xSmPxn_b6I_g8nw6XOs8GnaqyV7hhzF6LhNtzy_-m71Pt7NHMs6Ns0xZhFka'
          },

          // Wait for the PayPal button to be clicked

          payment: function() {

              // Make a client-side call to the REST api to create the payment

              return paypal.rest.payment.create(this.props.env, this.props.client, {
                  transactions: [
                      {
                          amount: { total: parseFloat("<?php echo $parcel['shipping_charge'] ?>", 10), currency: "<?php echo $parcel['currency_code'] ?>" }
                      }
                  ]
              });
          },

          // Wait for the payment to be authorized by the customer

          onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function() {
              document.getElementById('finalSubmit').style.display = "block";
              document.querySelector('#paypal-button-container').style.display = 'none';
            });
          }

      }, '#paypal-button-container');

