!!! 5
html
  head
    title GCL Logistics
    link(href="https://fonts.googleapis.com/css?family=Arsenal|Lato" rel="stylesheet")
    link(href="/public/css/normalize.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css", rel="stylesheet")
    link(href="/public/css/base.min.css", rel="stylesheet")
  body
    - $parcel = $checkout['parcel']
    - $shippers = $checkout['shippers']
    - $delivery = $checkout['delivery']
    - $custom = $checkout['custom']
    - $sch_pickup = $checkout['sch_pickup']
    mixin cleanString($val, $section)
      =ucwords(str_replace('_', " ", $section." ".$val));
    .container
      .row
        .one.columns &nbsp;
        .ten.columns
          table.u-full-width
            caption
              h2 Checkout Summary
            tr
              td Name
              td=ucwords($checkout['title']." ".$checkout['firstname']." ".$checkout['lastname'])
            tr
              td Email
              td #{$checkout['email']}
            tr
              td(colspan="2")
                h4(style="text-align: center") Parcel Info
            each val, title in $parcel
              tr
                td
                  +cleanString(title, "Parcel")
                td= val
            tr
              td(colspan="2")
                h4(style="text-align: center") Shipper's Info
            each val, title in $shippers
              tr
                td
                  +cleanString(title, "Shipper's")
                td= val
            tr
              td(colspan="2")
                h4(style="text-align: center") Receiver's Info
            each val, title in $delivery
              tr
                td
                  +cleanString(title, "Receiver's")}
                td= val
            tr
              td(colspan="2")
                h4(style="text-align: center") Customs Info
            each val, title in $custom
              tr
                td
                  +cleanString(title, "Custom's")}
                td= val
            tr
              td(colspan="2")
                h4(style="text-align: center") Pickup Info
            each val, title in $sch_pickup
              tr
                td
                  +cleanString(title, "Pickup's")}
                td= val
    hr
      footer
        .row
          .twelve.columns
            .foot-content
              .container
                .row
                  .twelve.columns Copyright by Global Corporate Logistics LTD. All rights reserved

